/* src/components/Introduction.css */

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9; /* Light Gray for Background */
}

.introduction-left {
  flex: 1;
  padding-right: 20px;
}

.introduction-left h2 {
  font-size: 2.5em;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; /* Semi Bold */
  color: #575a9c; /* Tertiary Purple */
  margin-bottom: 20px;
}

.introduction-left p {
  font-size: 1.2em;
  color: #1d1e26; /* Primary Black */
  font-family: "Roboto", sans-serif;
  font-weight: 300; /* Light */
}

.introduction-right {
  flex: 1;
}

.introduction-right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
