/* src/components/Header.css */

.header-navbar {
  background-color: #1d1e26; /* Primary Black */
  padding: 10px 20px;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  margin-left: auto; /* This pushes the navigation links to the right */
}

.navbar-links .nav-link {
  margin-left: 20px;
  color: #ffffff; /* Secondary White */
  font-family: "Rajdhani", sans-serif;
  font-weight: 600; /* Semi Bold */
}

.navbar-links .nav-link:hover {
  color: #575a9c; /* Tertiary Purple */
}
