/* src/components/Footer.css */

.footer {
  background-color: #1d1e26; /* Primary Black */
  color: #ffffff; /* Secondary White */
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300; /* Light */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-right {
  text-align: right;
}

.footer a {
  color: #ffffff; /* Secondary White */
  text-decoration: none;
  font-weight: 500; /* Medium */
}

.footer a:hover {
  color: #575a9c; /* Tertiary Purple */
}

.footer p {
  margin: 0;
  font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    margin-top: 10px;
    text-align: center;
  }
}
